# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
!/src/PopularProducts.json
!/src/images/PRODUCT_IMAGES/
!/src/images/RESIMLER/
!/src/images/111.png
!/src/images/popular_item_1.png
!/src/images/popular_item_2.png
!/src/images/popular_item_3.png
!/src/images/popular_item_4.png
!/src/images/popular_item_8.png
!/src/images/popular_item_6.png
!/src/images/popular_item_7.png
!/src/images/popular_item_5.png
