@media only screen and (min-width: 320px) {
  .Benefits {
    align-items: center;
    background-color: #45413e;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif !important;
    justify-content: space-between;
    padding: 10% 5%;
    width: 100%;
  }

  .Benefits__Delivery {
    align-items: flex-start;
    align-self: end;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    width: 75%;
  }

  .Benefits__Recycle {
    align-items: flex-start;
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    width: 75%;
  }

  .Benefits__Clipboard {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    width: 75%;
  }

  .Benefits__Title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
  }

  .Benefits__Text {
    color: #868380;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    width: 9rem;
  }

  .Benefits__Logos__Delivery {
    height: 70px;
  }

  .Benefits__Logos__Recycle {
    height: 70px;
  }

  .Benefits__Logos__Clipboard {
    height: 70px;
  }

}