$default-font: "Lato", sans-serif;
//  padding: 24px;

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .Benefits {
    align-items: center;
    background-color: #45413e;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 24px;
    height: 650px;
  }

  .Benefits__Delivery {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    height: 150px;
    justify-content: space-between;
    width: 250px;
  }

  .Benefits__Recycle {
    align-items: flex-start;
    align-self: flex-start;
    display: flex;
    flex-direction: row-reverse;
    height: 150px;
    justify-content: space-between;
    width: 250px;
  }

  .Benefits__Clipboard {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    height: 150px;
    justify-content: space-between;
    width: 250px;
  }

  .Benefits__Title {
    color: #ffffff;
    font-family: $default-font;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
  }

  .Benefits__Text {
    color: #868380;
    font-family: $default-font;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    width: 150px;
  }

  .Benefits__Logos__Delivery {
    height: 70px;
  }

  .Benefits__Logos__Recycle {
    height: 70px;
  }

  .Benefits__Logos__Clipboard {
    height: 70px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media only screen and (min-width: 1024px) {
  .Benefits {
    align-items: center;
    background-color: #45413e;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 24px;
    height: 250px;
  }

  .Benefits__Delivery {
    align-items: flex-start;
    display: flex;
    height: 150px;
    justify-content: space-between;
    width: 300px;
  }

  .Benefits__Recycle {
    align-items: flex-start;
    display: flex;
    height: 150px;
    justify-content: space-between;
    width: 300px;
  }

  .Benefits__Clipboard {
    align-items: flex-start;
    display: flex;
    height: 150px;
    justify-content: space-between;
    width: 300px;
  }

  .Benefits__Title {
    color: #ffffff;
    font-family: $default-font;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
  }

  .Benefits__Text {
    color: #868380;
    font-family: $default-font;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    width: 200px;
  }

  .Benefits__Logos__Delivery {
    height: 70px;
  }

  .Benefits__Logos__Recycle {
    height: 70px;
  }

  .Benefits__Logos__Clipboard {
    height: 70px;
  }
}