@media only screen and (min-width: 320px) and (max-width: 767px) {
  .CategoryLandingPageBody {
    align-items: center;
    background: #f2edea;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 100px;
    width: 100%;
  }

  .breadcrumb {
    align-items: center;
    background: #f2edea;
    display: flex;
    height: min-content;
    justify-content: center;
    margin: 12px 0;
    padding: 0;
  }

  .breadcrumb-item a, .breadcrumb-item a:link, .breadcrumb-item a:visited, .breadcrumb-item a:hover, .breadcrumb-item a:active {
    color: #84bc22;
    text-decoration: none;
  }

  .CategoryLandingPage__Services {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 12px 0;
    width: 90vw;
  }

  .CategoryLandingPage__Services__HorizontalLine {
    background: #ffffff;
    height: 3px;
    margin: 0;
    opacity: 0.5;
    width: 75px;
  }

  .CategoryLandingPage__Services__Text {
    color: #45413e;
    font-family: "Lato", sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
  }

  .HideFilter__Text {
    color: #8dc73e;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 12px 0;
  }

  .CategoryLandingPage__ResultsText {
    font-family: "Lato", sans-serif;
    margin: 24px 0;
  }

  .CategoryLandingPage__PopularItems {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
  }

  .CategoryLandingPage__PopularItems__SingleItem {
    margin: 24px 0;
  }

  .PopularItems__DesktopTablet__LoadMoreButton {
    background: transparent;
    border: 2px white solid;
    border-radius: 24px;
    cursor: pointer;
    padding: 8px 96px;
  }
  .PopularItems__DesktopTablet__LoadMoreButton button {
    background: transparent;
    border: none;
    color: white;
    font-family: "Lato", sans-serif;
  }
  .PopularItems__DesktopTablet__LoadMoreButton button:focus {
    outline: 0;
  }

  .CategoryLandinPage__PopularItems__LoadMoreButton {
    background: #84bc22;
    border: 2px white solid;
    border-radius: 24px;
    cursor: pointer;
    margin: 48px 0;
    padding: 8px 96px;
  }
  .CategoryLandinPage__PopularItems__LoadMoreButton button {
    background: transparent;
    border: none;
    color: white;
    font-family: "Lato", sans-serif;
  }
  .CategoryLandinPage__PopularItems__LoadMoreButton button:focus {
    outline: 0;
  }

  .CategoryLandinPage__PopularItems__LoadMoreButton:hover {
    background: white;
    border: 2px #84bc22 solid;
  }
  .CategoryLandinPage__PopularItems__LoadMoreButton:hover button {
    color: #84bc22;
  }
}
@media only screen and (min-width: 1024px) {
  .CategoryLandingPageBody {
    align-items: center;
    background: #f2edea;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 90px;
    width: 100%;
    padding-top: 24px;
  }

  .breadcrumb {
    align-items: center;
    background: #f2edea;
    display: flex;
    height: min-content;
    justify-content: center;
    padding: 24px;
    margin: 12px 0;
  }

  .breadcrumb-item {
    color: #8dc73e;
    display: inline;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 600;
  }

  .breadcrumb-item a, .breadcrumb-item a:link, .breadcrumb-item a:visited, .breadcrumb-item a:hover, .breadcrumb-item a:active {
    color: #84bc22;
    display: inline;
    text-decoration: none;
  }

  .CategoryLandingPage__Services {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 24px 0;
  }

  .CategoryLandingPage__Services__HorizontalLine {
    background: #ffffff;
    height: 3px;
    margin: 0;
    opacity: 0.5;
    width: 30%;
  }

  .CategoryLandingPage__Services__Text {
    color: #45413e;
    font-family: "Lato", sans-serif;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
  }

  .HideFilter__Text {
    display: none;
  }

  .CategoryLandingPage__ResultsText {
    font-family: "Lato", sans-serif;
    margin: 24px 0;
  }

  .CategoryLandingPage__PopularItems {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
  }

  .CategoryLandingPage__PopularItems__SingleItem {
    margin: 24px 0;
    width: 275px;
  }

  .PopularItems__DesktopTablet__LoadMoreButton {
    background: transparent;
    border: 2px white solid;
    border-radius: 24px;
    cursor: pointer;
    padding: 8px 96px;
  }
  .PopularItems__DesktopTablet__LoadMoreButton button {
    background: transparent;
    border: none;
    color: white;
    font-family: "Lato", sans-serif;
  }
  .PopularItems__DesktopTablet__LoadMoreButton button:focus {
    outline: 0;
  }

  .CategoryLandinPage__PopularItems__LoadMoreButton {
    background: #84bc22;
    border: 2px white solid;
    border-radius: 24px;
    cursor: pointer;
    margin: 48px 0;
    padding: 8px 96px;
  }
  .CategoryLandinPage__PopularItems__LoadMoreButton button {
    background: transparent;
    border: none;
    color: white;
    font-family: "Lato", sans-serif;
  }
  .CategoryLandinPage__PopularItems__LoadMoreButton button:focus {
    outline: 0;
  }

  .CategoryLandinPage__PopularItems__LoadMoreButton:hover {
    background: white;
    border: 2px #84bc22 solid;
  }
  .CategoryLandinPage__PopularItems__LoadMoreButton:hover button {
    color: #84bc22;
  }
}

/*# sourceMappingURL=CategoryLandingPage.css.map */
