$default-font: "Lato", sans-serif;
// PADDING - 24PX

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .CookieModalWindow {
    left: 50%;
    position: absolute;
    top: 70%;
    transform: translate(-50%, -50%);

  }

  .CookieModalWindow__Body {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .CookieModalWindow__CloseButton {
    align-self: flex-end;
    cursor: pointer;
  }

  .CookieModalWindow__Title {
    color: #84bc22;
    font-family: 'Lato', sans-serif !important;
    font-size: 16px;
    font-weight: 800;
  }

  .CookieModalWindow__Text {
    font-family: 'Lato', sans-serif !important;
    font-size: 14px;
  }

  .CookieModalWindow__Text__Colored {
    color: #84bc22;
    cursor: pointer;

  }

  .CookieModalWindow__AcceptButton {
    align-self: flex-end;
    background: #84bc22;
    border: none;
    border-radius: 24px;
    color: #ffffff;
    font-family: 'Lato', sans-serif !important;
    padding: 8px 40px;
    text-transform: uppercase;
  }
}

/* DESKTOP VERSION
.CookieModalWindow__AcceptButton:hover {

}
*/

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media only screen and (min-width: 1024px) {

}