@media only screen and (min-width: 320px) {
  .CookieModalWindow {
    left: 50%;
    position: absolute;
    top: 70%;
    transform: translate(-50%, -50%);

  }

  .CookieModalWindow__Body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .CookieModalWindow__CloseButton {
    align-self: flex-end;
    cursor: pointer;
  }

  .CookieModalWindow__Title {
    color: #84bc22;
    font-family: 'Lato', sans-serif !important;
    font-size:16px;
    font-weight: 800;
  }

  .CookieModalWindow__Text {
    font-family: 'Lato', sans-serif !important;
    font-size:14px;
  }

  .CookieModalWindow__Text__Colored {
    color: #84bc22;
    cursor: pointer;

  }

  .CookieModalWindow__AcceptButton {
    background: #84bc22;
    color: #ffffff;
    font-family: 'Lato', sans-serif !important;
    text-transform: uppercase;
    align-self: flex-end;
    border:none;
    padding: 8px 40px;
    border-radius: 24px;
  }
}
