@media only screen and (min-width: 320px) {
  .DropdownFilters {
    align-items: center;
    background: white; // To be changed on each click
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif !important;
    justify-content: space-between;
    width: 90%;
  }


}


