$default-font: "Lato", sans-serif;

.FeaturedProductsBackground {
  align-items: center;
  background: #262a33;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 24px;
}

.FeaturedProducts__Title {
  color: white;
  font-family: $default-font;
  font-size: 36px;
  font-weight: 800;
  text-transform: capitalize;
}

.FeaturedProducts__Description {
  color: white;
  font-family: $default-font;
  font-size: 16px;
}

.FeaturedProducts__Divider {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.FeaturedProducts__Divider__HorizontalLine {
  background: white;
  height: 2px;
  margin: 0 16px;
  width: 250px;
}

.FeaturedProducts__Divider__Toggle {
  color: white;
  font-family: $default-font;
  font-size: 36px;
  margin: 0;
}

.fa-chevron-left {
  color: white;
}

.fa-chevron-right {
  color: white;
}

.FeaturedProducts__Divider__PreviousButton {
  background: #2f383d;
  border: none;
  height: 30px;
  width: 30px;
}

.FeaturedProducts__Divider__NextButton {
  background: #2f383d;
  border: none;
  height: 30px;
  width: 30px;
}

.FeaturedProducts__Divider__PreviousButton:focus {
  outline: 0
}

.FeaturedProducts__Divider__NextButton:focus {
  outline: 0
}