$default-font: "Lato", sans-serif;
// PADDING - 24PX

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .Fixed {
    align-items: center;
    background: #262a33;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 20%;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  .Fixed__Icon {
    color: gray;
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media only screen and (min-width: 1024px) {
  .Fixed {
    align-items: center;
    background: transparent;
    display: flex;
    flex-direction: row;
    height: max-content;
    justify-content: space-between;
    padding: 8px;
    width: 250px;
  }

  .Fixed__Icon {
    color: gray;
    font-size: 24px;
  }
}
