@media only screen and (min-width: 320px) {
  .Fixed {
    align-items: center;
    background: #262a33;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 20%;
    width: 100%;
  }

}