$default-font: "Lato", sans-serif;
//  padding: 24px;

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .Footer {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
    min-height: 250px;
    padding: 24px;
  }

  .Footer__Option__Outer {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    width: 100%;
  }

  .Footer__Option__Inner {

    width: 100%;
  }

  .Footer__Option__Text {
    color: #333333;
    font-family: $default-font;
    font-size: 13px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  .Footer__Option__Up {
    height: 6px;
    opacity: 0.7;
    width: 8px;
  }

  .Footer__Option__Down {
    height: 7px;
    opacity: 0.7;
    width: 8px;
  }

  .Footer__Text {
    align-self: flex-start;
    color: #45413e;
    display: block;
    font-family: $default-font;
    font-weight: 400;
    margin: 12px 0;
    text-align: left;
  }

  .Element__Display {
  }

  .Element__Hide {
    display: none;
  }

  a {
    margin: 6px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media only screen and (min-width: 1024px) {
  .Footer {
    align-items: flex-start;
    background-color: #ffffff;
    display: flex;
    flex-basis: min-content;
    flex-direction: column;
    flex-wrap: wrap;
    height: 340px;
    padding: 24px;
  }

  .Footer__Option__Outer {
    margin: 12px 0;
  }

  .Footer__Option__Inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: 240px;

  }

  .Footer__Option__Inner__Contacts__Desktop {
    justify-content: space-between;
    width: 230px;
  }

  .Footer__Option__Inner__Categories__Desktop {
    width: 700px;
  }

  .Footer__Option__Inner__About__Desktop {
    height: 300px;
    width: 80px;
  }

  .Footer__Option__Text {
    color: #333333;
    font-family: $default-font;
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }


  .Footer__Text {
    align-self: flex-start;
    color: #45413e;
    display: block;
    font-family: $default-font;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
  }

  a {
    margin: 6px 0;
  }
}