$default-font: "Lato", sans-serif;
// PADDING - 24PX

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .Header {

  }

  .Header__Mobile {
    align-items: center;
    background: white;
    border-bottom: 2px solid #e8e2d6;
    display: flex;
    justify-content: flex-start;
    padding: 12px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
  }

  .Header__Mobile__Hamburger__Open {
    color: black;
    cursor: pointer;
    font-size: 32px;
    width: 32px;
  }

  .Header__Mobile__Hamburger__Close {
    cursor: pointer;
    font-size: 32px;
    width: 32px;
  }

  .Header__Mobile__Logo__Icon {
    height: 55px;
    justify-self: center;
    margin: 0 auto;
  }

  .Header__LanguageCurrency {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media only screen and (min-width: 1024px) {
  .Header {
    align-items: center;
    background: white;
    border-bottom: 2px solid #e8e2d6;
    display: flex;
    justify-content: space-between;
    padding: 0 64px;
    position: fixed;
    top: 0;
    width: 1300px;
    z-index: 1000;
  }

  .Header__TabletDesktop {
    align-items: center;
    display: flex;
    height: max-content;
    justify-content: center;
    justify-self: flex-start;
    padding: 12px 0;
    width: 175px;

    a, a:link, a:visited, a:hover a:active {
      text-decoration: none;
    }
  }

  .Header__TabletDesktop__Icon {
    height: 64px;
  }

  .Header__TabletDesktop__Text {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: max-content;
    justify-content: center;
    margin: 0 auto;
    width: max-content;
  }

  .Header__TabletDesktop__Text__1 {
    color: #011847;
    font-family: $default-font;
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 36px;
    margin: 0;
    text-transform: uppercase;
  }

  .Header__TabletDesktop__Text__2 {
    color: #84bc22;
    font-family: $default-font;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    margin: 0;
    text-transform: capitalize;
  }

  .Header__LanguageCurrency {
    align-items: center;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .Header__LanguageCurrency__Inner__Filter {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: url("../images/caret-down-solid.svg"); // DOWN ICON
    background-position: right 24px top 50%, 0 0;
    background-repeat: no-repeat, repeat;
    background-size: 10px auto, 100%;
    border: none;
    border-radius: 24px;
    color: #45413e;
    font-family: $default-font;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    opacity: 0.7;
    padding: 8px 8px;
    width: 90px;
  }
  .Header__LanguageCurrency__Inner__Filter::-ms-expand {
    display: none;
  }

  .Header__LanguageCurrency__Inner__Filter:focus {
    outline: none;
  }
}