$default-font: "Lato", sans-serif;
// PADDING - 24PX

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .PopularItemsBackground {
    background: #262a32;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media only screen and (min-width: 1024px) {

  .SliderSummerSalesBackground {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 24px 0;
  }

}
