$default-font: "Lato", sans-serif;
// PADDING - 24PX

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .modal-content { // BOOTSTRAP MODAL CLASS
    border: none;
    border-radius: 24px;
  }

  .ModalBody {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif !important;
    height: 400px;
    justify-content: space-between;
    padding: 16px 32px;
  }

  .ModalBody__Title {
    align-self: center;
    font-size: 36px;
    font-weight: 800;
    margin: 0;
  }

  .ModalBody__Email__Label {
    font-weight: 600;
    margin: 0;
  }

  .ModalBody__Email__Input {
    align-self: center;
    border: 2px solid #d7d7d7;
    border-radius: 24px;
    padding: 8px 16px;
    width: 100%;
  }

  .ModalBody__Email__Input:focus {
    outline: 0;
  }

  .ModalBody__Password {
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .ModalBody__Password__Label {
    font-weight: 600;
    margin: 0;
  }

  .ModalBody__Password__Forgot {
    color: #84bc22;
    cursor: pointer;
    font-weight: 600;
    margin: 0;
  }

  .ModalBody__Password__Input {
    align-items: center;
    align-self: center;
    display: flex;
    width: 100%;
  }

  .ModalBody__Password__Input__Field {
    border: 2px solid #d7d7d7;
    border-radius: 24px;
    padding: 8px 16px;
    width: 100%;
  }

  .ModalBody__Password__Input__Field:focus {
    outline: 0;
  }

  .ModalBody__Password__Input__Icon {
    height: 16px;
    opacity: 50%;
    position: absolute;
    right: 15%;
  }

  .ModalBody__LoginButton {
    align-self: center;
    background: #84bc22;
    border: none;
    border-radius: 24px;
    font-weight: 600;
    text-transform: uppercase;
    width: 60%;
  }

  .ModalBody__NoAccount {
    align-self: center;
    background: transparent;
    border: none;
    color: #84bc22;
    cursor: pointer;
    font-weight: 600;
    margin: 0;
  }

  .Element__Display {

  }

  .Element__Hide {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media only screen and (min-width: 1024px) {

}