@media only screen and (min-width: 320px) {
  .ModalBody {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif !important;
    height: 400px;
    justify-content: space-between;
  }

  .ModalBody__Title {
    align-self: center;
    font-size: 30px;
    font-weight: 800;
  }

  .ModalBody__Email__Label {
    font-weight: 600;
  }


  .ModalBody__Email__Input {
    align-self: center;
    border: 2px solid #d7d7d7;
    border-radius: 24px;
    padding: 8px 16px;
    width: 90%;
  }

  .ModalBody__Password {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .ModalBody__Password__Label {
    font-weight: 600;
  }

  .ModalBody__Password__Forgot {
    color: #84bc22;
    font-weight: 600;
  }

  .ModalBody__Password__Input {
    align-self: center;
    border: 2px solid #d7d7d7;
    border-radius: 24px;
    padding: 8px 16px;
    width: 90%;
  }

  .ModalBody__LoginButton {
    align-self: center;
    background: #84bc22;
    border: none;
    border-radius: 24px;
    font-weight: 600;
    text-transform: uppercase;
    width: 60%;
  }

  .ModalBody__NoAccountButton {
    align-self: center;
    background: transparent;
    border: none;
    color: #84bc22;
    font-weight: 600;
  }

}