$default-font: "Lato", sans-serif;
// PADDING - 24PX

@media only screen and (min-width: 320px) and (max-width: 767px) {

  .Navigation {
    background: #262a32;
    color: white;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    text-transform: uppercase;
    z-index: 999;
    top:75px;
  }

  .Navigation__Option__Outer {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }

  .Navigation__Option__Outer__Text {
    font-family: $default-font;
    font-weight: 800;
    margin: 0;
  }

  .Navigation__Option__Inner {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 8px 16px 8px 36px;
  }

  .Navigation__Option__Inner__Text {
    font-family: $default-font;
    font-weight: 800;
    margin: 0;
  }

  .Navigation__Option__Inner__Categories {
    padding: 8px 16px 8px 48px;
  }

  .Navigation__Option__Inner__Categories__Link {
    color: white;
  }

  .Navigation__Option__Down {
    color: gray;
  }

  .Navigation__Option__Up {
    color: gray
  }

  .Navigation__Image {
    margin-top: 150px;
  }

  .Element__Hide {
    display: none;
  }

  .Element__Display {

  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {

}


@media only screen and (min-width: 1024px) {
  .Navigation {
    background: white;
    display: flex;
    font-weight: 400;
    height: 75px;
    text-transform: uppercase;
  }

  .Navigation__Option__Outer {
    align-items: center;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    opacity: 0.7;
    padding: 16px;
  }

  .Navigation__Option__Outer__Text {
    font-family: $default-font;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
  }

  .Navigation__Option__Outer__OnHover:hover {
    background: #262a33;
    border-bottom: 3px #84bc22 solid;
    color: white;
    opacity: 1;
  }


  .Navigation__Option__Inner {
    align-items: center;
    background: #262a33;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 48px;
    padding: 48px;
    position: absolute;
    right: 48px;
    top: 150px;
    z-index: 99;
  }

  .Navigation__Option__Inner__ProductCategories {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 45%;
  }

  .Navigation__Option__Inner__Sale {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 10%;
  }

  .Navigation__Option__Inner__ProductCategories__Title {
    color: white;
    font-family: $default-font;
    font-size: 16px;
    font-weight: 800;
  }

  .Navigation__Option__Inner__Sale__Title {
    color: white;
    font-family: $default-font;
    font-size: 16px;
    font-weight: 800;
  }

  .Navigation__Option__Inner__ProductCategories__Categories {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 265px;
    justify-content: space-between;
  }

  .Navigation__Option__Inner__ProductCategories__Categories__Category {
    color: white;
    cursor: pointer;
    font-family: $default-font;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    text-transform: capitalize;
  }

  .Navigation__Option__Inner__Sale__Categories {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 275px;
    justify-content: space-between;
  }

  .Navigation__Option__Inner__Sale__Categories__Category {
    color: white;
    cursor: pointer;
    font-family: $default-font;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    text-transform: capitalize;
  }

  .Navigation__Image {
    border-radius: 16px;
    height: 300px;
  }

  .Navigation__Option__Down {
    color: black;
  }

  .Navigation__Option__Up {
    color: black;
  }


  .Element__Hide {
    display: none;
  }

  .Element__Display {
  }
}

























