$default-font: "Lato", sans-serif;

@media only screen and (min-width: 320px) and (max-width: 767px) {

  .Navigation {
    align-items: stretch;
    background: #262a32;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: space-around;
    padding-top: 12px;
    position: absolute;
    text-transform: uppercase;
    top: 75px;
    z-index: 999;


    .Navigation__Option__Outer {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 16px;
    }

    .Navigation__Option__Outer__Text {
      font-family: $default-font;
      font-weight: 800;
      margin: 0;
    }

    .Navigation__Option__Inner {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 8px 16px 8px 36px;
    }

    .Navigation__Option__Inner__Text {
      font-family: $default-font;
      font-weight: 800;
      margin: 0;
    }

    .Navigation__Option__Inner__Categories {
      padding: 8px 16px 8px 48px;

      a, a:link, a:hover, a:visited, a:active {
        text-decoration: none;
      }
    }

    .Navigation__Option__Inner__Categories__Link {
      color: white;
    }

    .Navigation__Option__Down {
      color: gray;
    }

    .Navigation__Option__Up {
      color: gray
    }

    .Navigation__Image {
      padding-top: 50px;
    }

    .Element__Hide {
      display: none;
    }

    .Element__Display {
    }
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {

}


@media only screen and (min-width: 1024px) {
  .Navigation {
    align-self: flex-end;
    background: white;
    display: flex;
    font-weight: 400;
    text-transform: uppercase;


    .Navigation__Option__Outer {
      align-items: center;
      color: black;
      cursor: pointer;
      display: flex;
      justify-content: center;
      margin-bottom: 3px;
      opacity: 0.7;
      padding: 16px 0;
      width: 110px;
    }

    .Navigation__Option__Outer__Text {
      font-family: $default-font;
      font-size: 16px;
      font-weight: 500;
      margin: 0;
    }

    .Navigation__Option__Outer__OnHover:hover {
      background: #262a33;
      border-bottom: 3px #84bc22 solid;
      color: white;
      margin-bottom: 0;
      opacity: 1;

      .Navigation__Option__Down {
        color: white;
      }

      .Navigation__Option__Up {
        color: white;
      }
    }

    .Navigation__Option__Inner {
      align-items: center;
      background: #262a33;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      left: 24px;
      padding: 48px;
      position: absolute;
      right: 24px;
      top: 88px;
      z-index: 99;
    }

    .Navigation__Option__Inner__ProductCategories {
      display: flex;
      flex-direction: column;
      height: 350px;
      width: 50%;
    }

    .Navigation__Option__Inner__Sale {
      display: flex;
      flex-direction: column;
      height: 350px;
      width: 10%;
    }

    .Navigation__Option__Inner__ProductCategories__Title {
      color: white;
      font-family: $default-font;
      font-size: 16px;
      font-weight: 800;
    }

    .Navigation__Option__Inner__Sale__Title {
      color: white;
      font-family: $default-font;
      font-size: 16px;
      font-weight: 800;
    }

    .Navigation__Option__Inner__ProductCategories__Categories {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 300px;
      justify-content: flex-start;

      a, a:link, a:hover, a:visited, a:active {
        text-decoration: none;
      }
    }

    .Navigation__Option__Inner__ProductCategories__Categories__Category {
      cursor: pointer;

      p {
        color: white;
        font-family: $default-font;
        font-size: 14px;
        font-weight: 600;
        text-transform: capitalize;
      }

      p:hover {
        color: #84bc22;
        text-decoration: underline;
      }
    }

    .Navigation__Option__Inner__Sale__Categories {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      height: 275px;
      justify-content: space-between;

      a, a:link, a:hover, a:visited, a:active {
        text-decoration: none;
      }
    }

    .Navigation__Option__Inner__Sale__Categories__Category {
      cursor: pointer;

      p {
        color: white;
        font-family: $default-font;
        font-size: 14px;
        font-weight: 600;
        text-transform: capitalize;
      }

      p:hover {
        color: #84bc22;
        text-decoration: underline;
      }
    }

    .Navigation__Image {
      border-radius: 16px;
      height: 300px;
    }

    .Navigation__Option__Down {
      color: black;
      margin-left: 10px;
    }

    .Navigation__Option__Up {
      color: black;
      margin-left: 10px;
    }

    .Element__Hide {
      display: none;
    }

    .Element__Display {
    }
  }
}

























