$default-font: "Lato", sans-serif;

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .PopularItems {
    align-items: center;
    background: transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 24px;
  }

  .PopularItems__Title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    width: 100%;
  }

  .PopularItems__Title__HorizontalLine {
    background: #e8e4e1;
    height: 2px;
    margin: 0;
    opacity: 0.5;
    width: 65px;
  }

  .PopularItems__Title__Text {
    color: inherit;
    font-family: $default-font;
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    text-transform: inherit;
  }

  .PopularItems__Mobile__Carousel {
    height: 420px;
    width: 325px;
  }

  .PopularItems__SingleItem {
  }

  .PopularItems__SingleItem__OnHover {
    display: none;
  }

  // ON HOVER
  .PopularItems__SingleItem:hover {

    .PopularItems__SingleItem__OnHover {
      align-items: center;
      background-color: #816fca;
      background-image: linear-gradient(to top, #1cc167 0%, #2ed3a2 100%);
      border-radius: 16px;
      display: flex;
      height: 100%;
      justify-content: space-around;
      opacity: 0.9;
      padding: 24px;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 10;
    }

    .PopularItems__SingleItem__OnHover__IconBackground {
      align-items: center;
      background: white;
      border-radius: 40px;
      display: flex;
      height: 80px;
      justify-content: center;
      width: 80px;
    }

    .PopularItems__SingleItem__OnHover__CartIcon {
      color: #2ed3a2;
      cursor: pointer;
      font-size: 32px;
    }

    .PopularItems__SingleItem__OnHover__FavoriteIcon {
      color: deeppink;
      cursor: pointer;
      font-size: 32px;
    }
  }
  // ON HOVER

  .PopularItems__Image {
    border-radius: 16px 16px 0 0;
    height: 250px;
    object-fit: cover;
    width: 100%;
  }

  .carousel-indicators {
  }

  .PopularItems__Info {
    align-items: center;
    background: white;
    border-radius: 0 0 16px 16px;
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
    padding: 24px 0 24px 0;
    width: 100%;
  }

  .PopularItems__Info__Name {
    color: #2c3e50;
    font-family: $default-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
  }

  .PopularItems__Info__Price {
    color: #011847;
    font-family: $default-font;
    font-size: 14px;
    font-weight: 600;
  }

  .PopularItems__Info__Extra {
    align-items: center;
    border: 2px hsla(26, 5%, 26%, 0.5) solid;
    border-radius: 24px;
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  .PopularItems__Info__Extra__Price {
    border-right: 1px hsla(26, 5%, 26%, 0.5) solid;
    color: #24c36c;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 8px 16px;
  }

  .PopularItems__Info__Extra__BuyNow__Enabled {
    background: transparent;
    border: none;
    border-left: 1px hsla(26, 5%, 26%, 0.5) solid;
    border-radius: 0 24px 24px 0;
    font-family: $default-font;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    text-transform: uppercase;
  }

  .PopularItems__Info__Extra__BuyNow__Disabled {
    background: #84bc22;
    border: none;
    border-left: 1px hsla(26, 5%, 26%, 0.5) solid;
    border-radius: 0 24px 24px 0;
    color: white;
    font-family: $default-font;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    text-transform: uppercase;
  }

  .PopularItems__Info__Extra__BuyNow__Enabled:focus {
    outline: 0;
  }

  .PopularItems__Info__Extra__BuyNow__Disabled:focus {
    outline: 0;
  }

  .PopularItems__SingleItem__Static__Image {
    border-radius: 16px;
    height: 370px;
    object-fit: cover;
    width: 100%;
  }

  .PopularItems__SingleItem__Static__Gradient {
    align-items: flex-start;
    background-image: linear-gradient(to top, #675b99 0%, #dc5987 100%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    opacity: 0.8;
    padding: 24px;
    position: absolute;
    top: 0;
    z-index: 10;
  }

  .PopularItems__SingleItem__Static__Gradient__Text {
    color: #ffffff;
    font-family: $default-font;
    width: 50%;
  }

  .PopularItems__SingleItem__Static__Gradient__Comment {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 90px;
  }

  .PopularItems__SingleItem__Static__Gradient__Comment__Icon {
    color: #84bc22;
    font-size: 20px;
  }

  .PopularItems__SingleItem__Static__Gradient__Comment__Text {
    color: #ffffff;
    font-family: $default-font;
    margin: 0;
    text-transform: uppercase;
  }

  .PopularItems__DesktopTablet__LoadMoreButton {
    display: none;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {

}


@media only screen and (min-width: 1024px) {
  .PopularItems {
    align-items: center;
    background: transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: max-content;
    justify-content: center;
    padding: 48px 24px;
    width: 1300px;
  }

  .PopularItems__Title {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 48px;
    width: 100%;
  }

  .PopularItems__Title__HorizontalLine {
    background: #e8e4e1;
    height: 2px;
    margin: 0;
    opacity: 0.5;
    width: 35%;
  }

  .PopularItems__Title__Text {
    color: inherit;
    font-family: $default-font;
    font-size: 32px;
    font-weight: 800;
    margin: 0;
  }

  .PopularItems__DesktopTablet {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
  }

  .PopularItems__SingleItem {
    height: 370px;
    margin: 24px 0;
    width: 275px;
  }

  .PopularItems__SingleItem__OnHover {
    display: none;
  }

  // ON HOVER
  .PopularItems__SingleItem:hover {

    .PopularItems__SingleItem__OnHover {
      align-items: center;
      background-image: linear-gradient(to top, #1cc167 0%, #2ed3a2 100%);
      border-radius: 16px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 370px;
      justify-content: space-around;
      margin-top: -370px;
      opacity: 0.9;
      padding: 24px;
      width: 275px;
      z-index: 2;
    }

    .PopularItems__SingleItem__OnHover__IconBackground {
      align-items: center;
      background: white;
      border-radius: 40px;
      display: flex;
      height: 80px;
      justify-content: center;
      width: 80px;
    }

    .PopularItems__SingleItem__OnHover__CartIcon {
      color: #2ed3a2;
      cursor: pointer;
      font-size: 32px;
    }

    .PopularItems__SingleItem__OnHover__FavoriteIcon {
      color: deeppink;
      cursor: pointer;
      font-size: 32px;
    }
  }
  // ON HOVER

  .PopularItems__Image {
    border-radius: 16px 16px 0 0;
    height: 250px;
    object-fit: cover;
    width: 100%;
  }

  .carousel-indicators {
  }

  .PopularItems__Info {
    align-items: center;
    background: white;
    border-radius: 0 0 16px 16px;
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
    padding: 24px 0 24px 0;
    width: 100%;
  }

  .PopularItems__Info__Name {
    color: #2c3e50;
    font-family: $default-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
  }

  .PopularItems__Info__Price {
    color: #011847;
    font-family: $default-font;
    font-size: 14px;
    font-weight: 600;
  }

  .PopularItems__Info__Extra {
    align-items: center;
    border: 2px hsla(26, 5%, 26%, 0.5) solid;
    border-radius: 24px;
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  .PopularItems__Info__Extra__Price {
    border-right: 1px hsla(26, 5%, 26%, 0.5) solid;
    color: #24c36c;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 8px 16px;
  }

  .PopularItems__Info__Extra__BuyNow__Enabled {
    background: transparent;
    border: none;
    border-left: 1px hsla(26, 5%, 26%, 0.5) solid;
    border-radius: 0 24px 24px 0;
    font-family: $default-font;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    text-transform: uppercase;
  }

  .PopularItems__Info__Extra__BuyNow__Disabled {
    background: #84bc22;
    border: none;
    border-left: 1px hsla(26, 5%, 26%, 0.5) solid;
    border-radius: 0 24px 24px 0;
    color: white;
    font-family: $default-font;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    text-transform: uppercase;
  }

  .PopularItems__Info__Extra__BuyNow__Enabled:focus {
    outline: 0;
  }

  .PopularItems__Info__Extra__BuyNow__Disabled:focus {
    outline: 0;
  }

  .PopularItems__SingleItem__Static__Image {
    border-radius: 16px;
    height: 370px;
    object-fit: cover;
    width: 275px;
  }

  .PopularItems__SingleItem__Static__Gradient {
    align-items: flex-start;
    background-color: #ffffff;
    background-image: linear-gradient(to top, #675b99 0%, #dc5987 100%);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 370px;
    justify-content: flex-end;
    margin-top: -370px;
    opacity: 0.8;
    padding: 24px;
    width: 275px;
    z-index: 10;
  }

  .PopularItems__SingleItem__Static__Gradient__Text {
    color: #ffffff;
    font-family: $default-font;
    width: 50%;
  }

  .PopularItems__SingleItem__Static__Gradient__Comment {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 90px;
  }

  .PopularItems__SingleItem__Static__Gradient__Comment__Icon {
    color: #84bc22;
    font-size: 20px;
  }

  .PopularItems__SingleItem__Static__Gradient__Comment__Text {
    color: #ffffff;
    font-family: $default-font;
    margin: 0;
    text-transform: uppercase;
  }

  .PopularItems__DesktopTablet__LoadMoreButton {
    background: transparent;
    border: 2px white solid;
    border-radius: 24px;
    cursor: pointer;
    padding: 8px 96px;

    button {
      background: transparent;
      border: none;
      color: white;
      font-family: $default-font;
    }

    button:focus {
      outline: 0;
    }
  }

  .PopularItems__DesktopTablet__LoadMoreButton__Icon {

  }
}