$default-font: "Lato", sans-serif;
// PADDING - 24PX

@media only screen and (min-width: 320px) and (max-width: 767px) {

}


@media screen and (min-width: 768px) and (max-width: 1023px) {

}


@media only screen and (min-width: 1024px) {

}

