$default-font: "Lato", sans-serif;
// PADDING - 24PX

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ProductDetailPage {
    align-items: center;
    background: #f2edea;
    display: flex;
    flex-direction: column;
    padding: 100px 0 0 0;
    text-align: center;
  }

  .breadcrumb {
    background: #f2edea;
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    width: 100%;
  }


  .breadcrumb-item {
    display: inline;
    font-family: $default-font;
  }

  .breadcrumb-item.active {
    color: #6c757d;
    display: inline;
    font-family: $default-font;
    font-size: 14px;
    font-weight: 600;
  }

  .breadcrumb-item {
    display: inline;
    font-family: $default-font;
    font-size: 14px;
    font-weight: 600;
  }

  .breadcrumb-item {
    a, a:link, a:visited, a:active {
      color: #6c757d;
      display: inline;
      text-decoration: none;
    }

    a:hover {
      color: #84bc22;
    }
  }


  .ProductDetailPage__Product {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    width: 90%;
  }

  .ProductDetailPage__Product__HorizontalLine {
    background: #e8e4e1;
    height: 3px;
    margin: 0;
    opacity: 0.5;
    width: 25px;
  }

  .ProductDetailPage__Product__Text {
    color: #45413e;
    font-family: $default-font;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
  }

  .ProductDetailPage__Body {
    align-items: center;
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 90%;
  }

  .ProductDetailPage__Body__Outer {
    align-items: center;
    background: white;

    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 24px;
    padding-bottom: 24px;
    text-align: center;
    width: 90%;
  }

  .ProductDetailPage__Body__Inner {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .ProductDetailPage__Body__Inner__Price {
    align-self: flex-start;
    font-family: $default-font;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 24px 0 12px 16px;
  }

  .ProductDetailPage__Body__Inner__ColorFilter {
    align-self: flex-start;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: url("../images/caret-down-solid.svg"); // DOWN ICON
    background-position: right 24px top 50%, 0 0;
    background-repeat: no-repeat, repeat;
    background-size: 10px auto, 100%;
    border: 2px solid hsla(26, 5%, 26%, 0.5);
    border-radius: 24px;
    color: #45413e;
    font-family: $default-font;
    font-size: 14px;
    font-weight: 600;
    margin: 12px 0 12px 16px;
    padding: 8px 16px;
    width: 150px;
  }

  .ProductDetailPage__Body__Inner__ColorFilter:focus {
    outline: none;
  }

  .ProductDetailPage__Body__Inner__AmountAddToCart {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .ProductDetailPage__Body__Inner__Amount {
    align-items: center;
    align-self: flex-start;
    background: transparent;
    border: 2px hsla(26, 5%, 26%, 0.5) solid;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    margin: 12px 0 12px 16px;
    padding: 8px 16px;
    width: 35%;
  }

  .ProductDetailPage__Body__Inner__Amount:focus {
    outline: none;
  }

  .ProductDetailPage__Body__Inner__Amount__Input {
    border: none;
    font-family: $default-font;
    text-align: center;
    width: 50%;
  }

  .ProductDetailPage__Body__Inner__Amount__Input:focus {
    outline: none;
  }

  .ProductDetailPage__Body__Inner__AddToCartButton {
    align-self: flex-start;
    background: #84bc22;
    border: none;
    border-radius: 24px;
    color: white;
    font-family: $default-font;
    font-weight: 600;
    margin: 12px 0 12px 16px;
    padding: 8px 24px;
    text-transform: uppercase;
  }

  .ProductDetailPage__Body__Inner__AddToCartButton:focus {
    outline: none;
  }

  .ProductDetailPage__Body__Inner__AddToCartButton:hover {
    background: white;
    color: #84bc22;
  }

  .ProductDetailPage__Body__Inner__Description {
    font-family: $default-font;
    padding: 12px 16px 12px 16px;
    text-align: justify;
  }

  .ProductDetailPage__Body__Inner__ReadMore {
    align-self: flex-start;
    color: #84bc22;
    cursor: pointer;
    font-family: $default-font;
    padding: 12px 0 12px 16px;
  }

  .ProductDetailPage__Body__Inner__ShareLogos {
    align-items: center;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 0 12px 16px;
    width: 200px;
  }

  .ProductDetailPage__Body__Inner__ShareLogos__Text {
    font-family: $default-font;
    margin: 0;
  }

  .PopularItemsBackground {
    background: #f2edea;
    color: #45413e;
    text-transform: uppercase;
  }

  .fas.fa-minus {
    cursor: pointer;
  }

  .fas.fa-plus {
    cursor: pointer;
  }

  .ProductDetailPage__PopularItems__Carousel {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 90%;
  }

  .ProductDetailPage__PopularItems__Carousel__Title {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    width: 100%;
  }

  .ProductDetailPage__PopularItems__Carousel__Title__Text {
    font-family: $default-font;
    font-size: 22px;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
  }

  .ProductDetailPage__PopularItems__Carousel__Title__HorizontalLine {
    background: #e8e4e1;
    height: 3px;
    margin: 0;
    opacity: 0.5;
    width: 50px;
  }

  .ProductDetailPage__PopularItems__Carousel__Slider {
    width: 90%;
  }

  .slick-dots {
    width: 100%;
  }

  .PopularItems__Info__Name {
    color: #2c3e50;
    font-family: $default-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
  }

  .PopularItems__Info__Price {
    color: #011847;
    font-family: $default-font;
    font-size: 14px;
    font-weight: 600;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {

}


@media only screen and (min-width: 1024px) {
  .ProductDetailPage {
    align-items: center;
    background: #f2edea;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    padding: 32px 0 0 0;
    text-align: center;
    width: 1300px;
  }

  // BREADCRUMB
  .breadcrumb {
    align-items: center;
    background: #f2edea;
    display: flex;
    height: min-content;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .breadcrumb-item.active {
    color: #6c757d;
    display: inline;
    font-family: $default-font;
    font-size: 14px;
    font-weight: 600;
  }

  .breadcrumb-item {
    display: inline;
    font-family: $default-font;
    font-size: 14px;
    font-weight: 600;
  }

  .breadcrumb-item {
    a, a:link, a:visited, a:active {
      color: #6c757d;
      display: inline;
      text-decoration: none;
    }

    a:hover {
      color: #84bc22;
    }
  }
  // BREADCRUMB

  .ProductDetailPage__Product {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    width: 90%;
  }

  .ProductDetailPage__Product__HorizontalLine {
    background: #e8e4e1;
    height: 3px;
    margin: 0;
    opacity: 0.5;
    width: 350px;
  }

  .ProductDetailPage__Product__Text {
    color: #45413e;
    font-family: $default-font;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
  }

  .ProductDetailPage__Body {
    align-items: center;
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 1000px;
    padding-top: 48px;
    width: 1150px;
  }

  .ProductDetailPage__Body__Outer {
    align-items: flex-start;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
  }

  .ProductDetailPage__Body__Inner {
    align-items: center;
    background: transparent;
    display: flex;
    flex-direction: column;
    height: 550px;
  }

  .ProductDetailPage__Body__Inner__Price {
    align-self: flex-start;
    font-family: $default-font;
    font-size: 36px;
    font-weight: 800;
    margin: 0;
    padding: 24px 0 12px 16px;
  }

  .ProductDetailPage__Body__Inner__ColorFilter {
    align-self: flex-start;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: url("../images/caret-down-solid.svg"); // DOWN ICON
    background-position: right 24px top 50%, 0 0;
    background-repeat: no-repeat, repeat;
    background-size: 10px auto, 100%;
    border: 2px solid hsla(26, 5%, 26%, 0.5);
    border-radius: 24px;
    color: #45413e;
    font-family: $default-font;
    font-size: 14px;
    font-weight: 600;
    margin: 12px 0 12px 16px;
    padding: 8px 16px;
    width: 150px;
  }

  .ProductDetailPage__Body__Inner__ColorFilter:focus {
    outline: none;
  }

  .ProductDetailPage__Body__Inner__AmountAddToCart {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
  }


  .ProductDetailPage__Body__Inner__Amount {
    align-items: center;
    align-self: flex-start;
    background: transparent;
    border: 2px hsla(26, 5%, 26%, 0.5) solid;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    margin: 12px 0 12px 16px;
    padding: 8px 24px;
    width: 120px;
  }

  .ProductDetailPage__Body__Inner__Amount:focus {
    outline: none;
  }

  .ProductDetailPage__Body__Inner__Amount__Input {
    border: none;
    font-family: $default-font;
    text-align: center;
    width: 50%;
  }

  .ProductDetailPage__Body__Inner__Amount__Input:focus {
    outline: none;
  }

  .ProductDetailPage__Body__Inner__AddToCartButton {
    align-self: flex-start;
    background: #84bc22;
    border: 2px solid #84bc22;
    border-radius: 24px;
    color: white;
    font-family: $default-font;
    font-weight: 600;
    margin: 12px 0 12px 16px;
    padding: 8px 24px;
    text-transform: uppercase;
  }

  .ProductDetailPage__Body__Inner__AddToCartButton:focus {
    outline: none;
  }

  .ProductDetailPage__Body__Inner__AddToCartButton:hover {
    background: white;
    color: #84bc22;
  }

  .ProductDetailPage__Body__Inner__Description {
    color: black;
    font-family: $default-font;
    height: 175px;
    line-height: 25px;
    margin: 12px 16px 12px 16px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    width: 400px;
  }

  .ProductDetailPage__Body__Inner__ReadMore {
    align-self: flex-start;
    color: #84bc22;
    cursor: pointer;
    font-family: $default-font;
    padding: 12px 0 12px 16px;
  }

  .ProductDetailPage__Body__Inner__ShareLogos {
    align-items: center;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 0 12px 16px;
    width: 200px;
  }

  .ProductDetailPage__Body__Inner__ShareLogos__Text {
    font-family: $default-font;
    margin: 0;
  }

  .PopularItemsBackground {
    background: #f2edea;
    color: #45413e;
    text-transform: uppercase;

    .PopularItems__Title {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding: 18px 0;
      width: 100%;
    }

    .PopularItems__Title__HorizontalLine {
      background: #e6e2df;
      height: 2px;
      margin: 0;
      opacity: 0.5;
      width: 35%;
    }
  }

  .fas.fa-minus {
    cursor: pointer;
  }

  .fas.fa-plus {
    cursor: pointer;
  }

  .ProductDetailPage__PopularItems {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1100px;

    .PopularItems__SingleItem {
      width: 250px;
    }

    .PopularItems__Image {
      border-radius: 16px 16px 0 0;
      height: 22-50px;
      object-fit: cover;
      width: 100%;
    }


    .PopularItems__Info {
      align-items: center;
      background: white;
      border-radius: 0 0 16px 16px;
      display: flex;
      flex-direction: column;
      height: 120px;
      justify-content: center;
      padding: 24px 0 24px 0;
      width: 100%;
    }

    .PopularItems__Info__Name {
      color: #2c3e50;
      font-family: $default-font;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      text-align: center;
    }

    .PopularItems__Info__Price {
      color: #011847;
      font-family: $default-font;
      font-size: 14px;
      font-weight: 600;
      opacity: 0.5;
    }
  }

  .ProductDetailPage__PopularItems__Background {

    .ProductDetailPage__PopularItems__Background__Title {
      align-content: center;
      align-items: center;
      display: flex;
      justify-content: space-between;
      padding: 12px 0;
      width: 100%;

      .ProductDetailPage__PopularItems__Background__Title__Text {
        color: #45413e;
        font-family: $default-font;
        font-size: 32px;
        font-weight: 700;
        margin: 0;
        text-transform: uppercase;
      }

      .ProductDetailPage__PopularItems__Background__Title__HorizontalLine {
        background: #e8e4e1;
        height: 3px;
        margin: 0;
        opacity: 0.5;
        width: 350px;
      }
    }

    .ProductDetailPage__PopularItems {

      .PopularItems__SingleItem {
        height: 370px;
        margin: 24px 0;
        width: 250px;
      }

      .PopularItems__Image {
        border-radius: 16px 16px 0 0;
        height: 250px;
        object-fit: cover;
        width: 100%;
      }

      .PopularItems__Info {
        align-items: center;
        background: white;
        border-radius: 0 0 16px 16px;
        display: flex;
        flex-direction: column;
        height: 120px;
        justify-content: center;
        padding: 24px 0 24px 0;
        width: 100%;

        .PopularItems__Info__Name {
          color: #2c3e50;
          font-family: $default-font;
          font-size: 16px;
          font-weight: 400;
          line-height: 18px;
          text-align: center;
        }

        .PopularItems__Info__Price {
          color: #011847;
          font-family: $default-font;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }


}