$default-font: "Lato", sans-serif;

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ProductDetailSlider {
    align-items: center;
    align-self: center;
    background: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90vw;
  }

  .ProductDetailSlider__Inner {
    position: relative;
    width: 100%;
  }

  .ProductDetailSlider__Image {
    height: auto;
    width: 100%;
  }

  .ProductDetailSlider__Image__ExpandIcon {
    color: #84bc22;
    cursor: pointer;
    font-size: 24px;
    left: 15px;
    position: absolute;
    top: 15px;
  }

  .ProductDetailSlider__Slider {
    display: flex;
    justify-content: center;
    padding: 36px 24px 0 24px;
    width: 90vw;
  }
  .ProductDetailSlider__Thumbnail {
    border-radius: 8px;
  }

  .slick-dots {
    width: max-content;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {

}


@media only screen and (min-width: 1024px) {
  .ProductDetailSlider {
    align-items: center;
    background: white;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
  }

  .ProductDetailSlider__Inner {
    height: 450px;
    position: relative;
    width: 450px;
  }

  .ProductDetailSlider__Image {
    border-radius: 16px 16px 0 0;
    height: 450px;
    width: 450px;
  }

  .ProductDetailSlider__Image__ExpandIcon {
    color: #84bc22;
    cursor: pointer;
    font-size: 36px;
    left: 15px;
    position: absolute;
    top: 15px;
  }

  .ProductDetailSlider__Slider {
    height: 450px;
    width: 100px;
  }

  .ProductDetailSlider__Thumbnail {
    border-radius: 8px;
    cursor: pointer;
  }

  .slick-dots {
    display: none;
  }
}