@media only screen and (min-width: 320px) {

  .Slider {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 18px;
  }

  .Slider__Carousel {

  }

  .SliderItems__SingleItem {
    height: 600px;
  }

  .SliderItems__Info {
    font-family: "Lato", sans-serif !important;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 24px;
    height: 550px;
    justify-content: space-between;
    margin:0 auto;
    width: 90%;
  }


  .SliderItems__Info__Title {
    color: white;
    font-size: 28px;
    font-weight: 800;
  }

  .SliderItems__Info__Text {
    color: white;
    font-size: 15px;
    font-weight: 400;
  }


  .SliderItems__Info__Button {
    background: transparent;
    border: 2px solid white;
    border-radius: 24px;
    color: white;
    font-size: 14px;
    height: 37px;
    text-transform: uppercase;
    width: 147px;
  }

}