$default-font: "Lato", sans-serif;
// PADDING - 24PX

@media only screen and (min-width: 320px) and (max-width: 767px) {
  // NOT AVAILABLE
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media only screen and (min-width: 1024px) {
  .SummerSales {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 22%;
  }

  .SummerSales__GreenBackground {
    align-items: center;
    background: url("../images/PalmTree.svg") no-repeat left bottom #84bc22;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    padding: 24px;
    width: 100%;
  }

  .SummerSales__GreenBackground__Text1 {
    color: white;
    font-family: $default-font;
    font-size: 96px;
    font-weight: 800;
  }

  .SummerSales__GreenBackground__Text2 {
    color: white;
    font-family: $default-font;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
  }

  .SummerSales__Facebook {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
    padding: 24px;
    width: 100%;
  }

  .SummerSales__Facebook__Title {
    font-family: $default-font;
    font-size: 16px;
  }

  .SummerSales__Facebook__Text {
    font-family: $default-font;
    font-size: 14px;
    text-align: center;
  }

  .SummerSales__Facebook__FollowButton {
    background: transparent;
    border: 2px solid #3a5b96;
    border-radius: 24px;
    color: #3a5b96;
    font-family: $default-font;
    font-size: 16px;
    padding: 4px 12px;
    text-transform: uppercase;
    width: 150px;
  }

  .SummerSales__Facebook__FollowButton__Icon {
    height: 16px;
  }

  a, a:hover, a:visited, a:link, a:active {
    align-items: center;
    color: #3a5b96;
    display: flex;
    justify-content: space-around;

    text-decoration: none;

  }
}
